/*
#################################################
#            s'bickt Android Client             #
# Bildungseinrichtung:  Fachhochschule Salzburg #
#         Studiengang:  MultiMediaTechnology    #
#               Zweck:  Qualifikationsprojekt   #
#################################################################################
#                                                                               #
# This is the client for the augmented reality and social community app s'bickt #
# Copyright Alexander Flatscher, Ismail Hanli                                   #
#                                                                               #
# This file is part of s'bickt.                                                 #
#                                                                               #
# S'bickt is free software: you can redistribute it and/or modify               #
# it under the terms of the GNU Affero General Public License as published by   #
# the Free Software Foundation, either version 3 of the License, or             #
# (at your option) any later version.                                           #
#                                                                               #
# S'bickt is distributed in the hope that it will be useful,                    #
# but WITHOUT ANY WARRANTY; without even the implied warranty of                #
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 #
# GNU Affero General Public License for more details.                           #
#                                                                               #
# You should have received a copy of the GNU Affero General Public License      #
# along with s'bickt.  If not, see <http://www.gnu.org/licenses/>.              #
#################################################################################
*/

@charset "UTF-8";
/* CSS Document */
a {text-decoration:none;}
h1,h2,h3,h4,h5,h6,pre,code,article {font-size:1em;font-weight:400;}
ul,dl,dt,dd,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,blockquote,article, fieldset,input {margin:0; padding:0}
a img,:link img,:visited img {border:none}

ul{
	list-style:none;
}


@font-face {
	font-family: 'CandelaBook';
	src: url('../type/CandelaBook-webfont.eot');
	src: local('☺'), url('../type/CandelaBook-webfont.woff') format('woff'), 
	url('../type/CandelaBook-webfont.ttf') format('truetype'), 
	url('../type/CandelaBook-webfont.svg#webfontZnhrwNxJ') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'CandelaBook', Tahoma, sans-serif;
	font-size:14px;
	overflow:auto;
}
td{
	height:22px;
}



#BG{
	background-image:url(../images/BG.jpg);
	width:960px;
	height:2400px;
	/*position:absolute;
	left:0px;*/
	margin-left:0px;
	max-width:100%;
}


/* section 1: mag auch*/

#section_magauch{
	position:absolute;
	top:0px;
}
#magauch{
	background-image:url(../images/mag_head.png);
	width:252px;
	height:39px;
	position:absolute;
	top:60px;
	left:385px;
}
#anmelden_formular{
	position:absolute;
	top:120px;
	left:390px;
}



/* sction 2: wo*/
#section_wo{
	position:absolute;
	top:600px;
}
#wo{
	background-image:url(../images/wo_head.png);
	width:107px;
	height:40px;
	position:absolute;
	top:160px;
	left:520px;
}
#map{
	background-color:#CCC;
	width:400px;
	height:315px;
	position:absolute;
	top:210px;
	left:525px;
}



/* sction 3: wie*/
#section_wie{
	position:absolute;
	top:1200px;
	width:700px;
}
#wie{
	background-image:url(../images/wie_head.png);
	width:99px;
	height:40px;
	position:absolute;
	top:60px;
	left:330px;
}
#slider{
	margin-left:155px;
	margin-top:120px;
	width: 696px;
}




#section_wurzeln{
	position:absolute;
	top:1800px;
}
#wurzeln{
	background-image:url(../images/wurzeln_head.png);
	width:173px;
	height:40px;
	position:absolute;
	top:135px;
	left:330px;
}
#wurzeln_text{
	margin-top:190px;
	margin-left:335px;
	margin-right:130px;
	max-width:550px;
	
		
	-moz-column-count: 2; 
 	-webkit-column-count: 2; 
 	-moz-column-gap: 30px; 
 	-webkit-column-gap: 30px;
	
}



#start{
	background-image:url(../images/start.png);
	width:649px;
	height:355px;
	position:absolute;
	top:3000px;
	left:0px;
}
#start_text{
	width:300px;
	position:absolute;
	left:460px;
	top:245px;
	font-size:12px;
	color:#999;
}
#counter{
	position:absolute;
	left:460px;
	top:310px;
}



#navi{
	background-color:transparent;
	text-align:right;
	position:fixed;
	right:10px;
	top:45%;
	/*width: 100%;
	height: 50%;
	margin-top: -80;*/
}
#start_links{
	font-size:18px;
	text-shadow: 
		2px 2px 2px rgba(0,0,100,.2);
	
	/*	
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
	*/
}
li a:link{
	color:#999;
}
li a:hover{
	color:#1e94a1;
}
a:visited{
	color:#999;
}

#content{
	margin:0;
	width:100%;
}




@media (max-width: 800px) {
	
#wurzeln_text{
	-moz-column-count: 1; /* mozilla prefix */
 	-webkit-column-count: 1; /* safari prefix */
}

#content{
	margin-left:-180px;
}
#map{
	left:220px;
}
#magauch{
	left:245px;
}
#anmelden_formular{
	left:250px;
}

}
